<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder location="classpath:setting.properties" ignore-unresolvable="true" />
	<!-- 开启aspectJ支持, 强制使用cglib实现动态代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!-- 
	<bean id="localeResolver" 
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver"> 
		<property name="cookiePath" value="eTrading"/> 
	</bean> 
	-->
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="cacheSeconds" value="0" />
		<property name="messageConverters">
			<util:list id="beanList">
				<ref bean="stringHttpMessageConverter" />
				<ref bean="byteArrayHttpMessageConverter" />
				<ref bean="resourceHttpMessageConverter" />
				<ref bean="sourceHttpMessageConverter" />
				<ref bean="xmlAwareFormHttpMessageConverter" />
				<ref bean="jaxb2RootElementHttpMessageConverter" />
				<ref bean="mappingJacksonHttpMessageConverter" />
			</util:list>
		</property>
	</bean>
	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter" />
	<bean id="byteArrayHttpMessageConverter"
		class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
	<bean id="resourceHttpMessageConverter"
		class="org.springframework.http.converter.ResourceHttpMessageConverter" />
	<bean id="sourceHttpMessageConverter"
		class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
	<bean id="xmlAwareFormHttpMessageConverter"
		class="org.springframework.http.converter.xml.XmlAwareFormHttpMessageConverter" />
	<bean id="jaxb2RootElementHttpMessageConverter"
		class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter" />
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />


	<bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPaths" value="${template.loader_path}" />
		<property name="freemarkerSettings">
			<props>
				<prop key="defaultEncoding">${template.encoding}</prop>
				<prop key="url_escaping_charset">${url_escaping_charset}</prop>
				<prop key="locale">${locale}</prop>
				<prop key="template_update_delay">${template.update_delay}</prop>
				<prop key="tag_syntax">auto_detect</prop>
				<prop key="whitespace_stripping">true</prop>
				<prop key="classic_compatible">true</prop>
				<prop key="number_format">${template.number_format}</prop>
				<prop key="boolean_format">${template.boolean_format}</prop>
				<prop key="datetime_format">${template.datetime_format}</prop>
				<prop key="date_format">${template.date_format}</prop>
				<prop key="time_format">${template.time_format}</prop>
				<prop key="object_wrapper">freemarker.ext.beans.BeansWrapper</prop>
			</props>
		</property>
		<property name="freemarkerVariables">
			<map>
				<entry key="systemName" value="${system.name}" />
				<entry key="systemVersion" value="${system.version}" />
				<entry key="systemDescription" value="${system.description}" />
				<entry key="systemShowPowered" value="${system.show_powered}" />
				<entry key="base" value="#{servletContext.contextPath}" />
				<entry key="locale" value="${locale}" />
				<entry key="setting" value="#{T(com.tihai.util.SettingUtils).get()}" />
				<entry key="message" value-ref="messageMethod" />
				<entry key="abbreviate" value-ref="abbreviateMethod" />
				<entry key="currency" value-ref="currencyMethod" />
				<entry key="flash_message" value-ref="flashMessageDirective" />
				<entry key="pagination" value-ref="paginationDirective" />
				<!-- entry key="execute_time" value-ref="executeTimeDirective" />
				<entry key="current_member" value-ref="currentMemberDirective" />
				<entry key="seo" value-ref="seoDirective" />
				<entry key="ad_position" value-ref="adPositionDirective" />
				<entry key="member_attribute_list" value-ref="memberAttributeListDirective" />
				<entry key="navigation_list" value-ref="navigationListDirective" />
				<entry key="tag_list" value-ref="tagListDirective" />
				<entry key="friend_link_list" value-ref="friendLinkListDirective" />
				<entry key="brand_list" value-ref="brandListDirective" />
				<entry key="article_list" value-ref="articleListDirective" />
				<entry key="article_category_root_list" value-ref="articleCategoryRootListDirective" />
				<entry key="article_category_parent_list" value-ref="articleCategoryParentListDirective" />
				<entry key="article_category_children_list" value-ref="articleCategoryChildrenListDirective" />
				<entry key="product_list" value-ref="productListDirective" />
				<entry key="product_category_root_list" value-ref="productCategoryRootListDirective" />
				<entry key="product_category_parent_list" value-ref="productCategoryParentListDirective" />
				<entry key="product_category_children_list" value-ref="productCategoryChildrenListDirective" />
				<entry key="review_list" value-ref="reviewListDirective" />
				<entry key="consultation_list" value-ref="consultationListDirective" />
				<entry key="promotion_list" value-ref="promotionListDirective" /-->
			</map>
		</property>
	</bean>
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="contentType" value="text/html; charset=UTF-8" />
		<property name="suffix" value="${template.suffix}" />
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
	</bean>

	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="shop/common/error" />
	</bean>
	<!-- ds old freemarker 
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="configLocation" value="/WEB-INF/config/ftl.properties" />
		<property name="templateLoaderPath" value="/view/" />
		<property name="defaultEncoding" value="GBK" />
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
				<entry key="cmsClient" value-ref="cmsClient" />
				<entry key="validClient" value-ref="validClient" />
				<entry key="rsaEncrypt" value-ref="rsaEncrypt" />
			</map>
		</property>
	</bean>-->
	<!--bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	<bean id="cmsClient" class="ds.framework.cms.CMSClientFunction" />
	<bean id="validClient" class="ds.framework.validator.ValidClientFunction" />
	<bean id="rsaEncrypt" class="ds.framework.ras.RSAEncryptFunction" />
	<bean id="freemarkerViewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="cache" value="true" />
		<property name="prefix" value="" />
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html;charset=GBK" />
		<property name="requestContextAttribute" value="request" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="allowSessionOverride" value="true" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="allowRequestOverride" value="true" />
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
		<property name="basename" value="views" />
	</bean-->

	<!--bean class="ds.framework.exception.LoggingExceptionResolver">
		<property name="defaultErrorView" value="serverError" />
		<property name="ajaxErrorView" value="error" />
	</bean-->

	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:resources mapping="/upload/**" location="/upload/" />
	<!--mvc:resources mapping="/static/script/**" location="/script/" />
	<mvc:resources mapping="/static/style/**" location="/style/" />
	<mvc:resources mapping="/static/image/**" location="/image/" />
	<mvc:resources mapping="/static/validator/**" location="/validator/" />
	<mvc:resources mapping="/static/component/**" location="/component/" />
	<mvc:resources mapping="/static/upload/**" location="/upload/" /-->
	<mvc:resources mapping="/400.html" location="/400.html" />

	<!--mvc:interceptors>
		<bean class="ds.framework.exception.ViewRenderExceptionHandlerInterceptor" />
	</mvc:interceptors-->
	<mvc:annotation-driven validator="validator" />
	
	<context:component-scan base-package="com.tihai.*" />
	
</beans>